# VERSIONS
POSTGRES_VERSION=13

# AUTH SERVICES
AUTH_SECRET_KEY=123qwerty
ALGORITHM_AUTH=HS256
SERVICE_URL=http://auth-testing:8000
AUTH_BACKEND_HOST=auth
AUTH_BACKEND_PORT=8000
AUTH_REFRESH_TOKEN_LIFETIME=1
AUTH_ALGORITHM_PASSWORD=RS256
AUTH_PASSWORD_SALT=

#POSTGRES
POSTGRES_AUTH_VERSION=13.4
AUTH_DB_NAME=test_auth
AUTH_DB_USER=test_auth_user
AUTH_DB_PASSWORD=test_auth_pass
AUTH_DB_PORT=5432

#REDIS
AUTH_REDIS_HOST=auth-redis-testing
AUTH_REDIS_PASSWORD=test_auth_pass
AUTH_REDIS_PORT=6379
AUTH_REDIS_DATABASES=0

#TEST
POSTGRES_HOST=auth-postgres-testing
POSTGRES_DATABASE=test_auth
POSTGRES_USER=test_auth_user
POSTGRES_PASSWORD=test_auth_pass

REDIS_HOST=auth-redis-testing
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=test_auth_pass
