BACKEND_FASTAPI_HOST=0.0.0.0
BACKEND_FASTAPI_PORT=8000
SERVICE_URL=http://fastapi-testing:8000
PROJECT_NAME=movies
REDIS_HOST=redis-testing
REDIS_PORT=6379
REDIS_TIME_SAVE_CACHE=60
ELASTIC_HOST=http://elastic-testing
ELASTIC_PORT=9200
REDIS_DATABASES=0
REDIS_PASSWORD=password
